{% extends 'collection/base.html' %}

{% block content %}
<div class="card">
    {% if miniature.image %}
        <img src="{{ miniature.image.url }}" alt="{{ miniature.name }}" width="300">
    {% endif %}


    <h1>{{ miniature.name }}</h1>
    <p><strong>Faction:</strong> {{ miniature.faction }}</p>
    <p><strong>Points:</strong> {{ miniature.points }}</p>
    <p><strong>Status:</strong>
        {% if miniature.painted %}
            Painted ✅
        {% else %}
            Not painted ❌
        {% endif %}
    </p>

    <p><strong>Description:</strong></p>
    <p>{{ miniature.description }}</p>

    <br>
    <a href="{% url 'miniature-edit' miniature.id %}">✏ Edit</a>
    <br><br>
    <a href="{% url 'miniature-delete' miniature.id %}">🗑 Delete</a>
    <br><br>
    <a href="/minis/">← Back to Miniatures</a>
</div>
{% endblock %}